In [ ]:
introduction to list datatypes:

In [ ]:
defination: A list is a collection of items declared in a particular order.
classification: it is classified as mutable datatype.

In [ ]:
how to declare the list datatype...?

In [1]:
students= ['arvind','shafi','john','david','nusrat','aradhya','nitya','asna'] # 0,1,,2,3,4,5,6,7

In [2]:
print(students)

['arvind', 'shafi', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna']

In [3]:
type(students)

list

In [ ]:
# how to access the above elements from the list...?

In [ ]:
introduction to indexing : 0,1,2,3....

In [ ]:
#req : i want to access john name from the above list

In [4]:
print(students[2])

john

In [5]:
print(students[2].title())

John

In [ ]:
1- how to add new elements to the list
2- how to modify the elements in the list
3- how to delete elements in the list

In [6]:
print(students)

['arvind', 'shafi', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna']

In [ ]:
#req : i want to add 'sachin' to the above list

In [7]:
students.append('sachin')

In [8]:
print(students)

['arvind', 'shafi', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin']

In [ ]:
#req: i want to add 'charan' name to the second index

In [9]:
students.insert(2,'charan')

In [10]:
print(students)

['arvind', 'shafi', 'charan', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin']

In [ ]:
#req : to modify the elements in the list

In [11]:
print(students)

['arvind', 'shafi', 'charan', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin']

In [ ]:
#req : i want to modify 'charan' name to 'chaitanya'

In [12]:
print(students[2])

charan

In [13]:
students[2]= 'chaitanya'

In [14]:
print(students)

['arvind', 'shafi', 'chaitanya', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin']

In [ ]:
how to delete elements from the list

In [15]:
print(students)

['arvind', 'shafi', 'chaitanya', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin']

In [ ]:
#req: i want to delete 'david' from the above list

In [16]:
del students[4]

In [17]:
print(students)

['arvind', 'shafi', 'chaitanya', 'john', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin']